<div id="largeModal" class="modal info-modal in" tabindex="-1" role="dialog" style="display:block">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close">&times;</button>
        <h4 class="modal-title">Team Registration : {{ _teamRegistration.status }}</h4>
      </div>
      <div class="modal-body">


        <!-- ---------------- Registration form start---------------- -->
        <form role="form" [formGroup]="_teamRegistration" (ngSubmit)="formSubmit(_teamRegistration.value)" novalidate>
          <div class="row example-container">
            <div class="col-lg-6 col-md-6">
              <mat-form-field>
                <input  matInput 
                        id="fName"
                        placeholder="First Name"
                        formControlName="fName"
                        >
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-6">
              <mat-form-field>
                <input  matInput 
                        id="lName"
                        placeholder="Last Name"
                        formControlName="lName"
                        >
              </mat-form-field>
            </div>
          </div>
          <div class="row example-container">
            <div class="col-lg-6 col-md-6">
              <mat-form-field>
                <input matInput placeholder="Email">
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-6">
              <mat-form-field>
                <input matInput placeholder="Phone Number">
              </mat-form-field>
            </div>
          </div>
          <h4>Group Selection:</h4>
          <div class="row example-container">
            <div class="col-lg-8 col-md-8">
              <mat-form-field>
                <mat-select placeholder="Select Group" formControlName="group">
                  <mat-option value="option1">Option1</mat-option>
                  <mat-option value="option2">Option2</mat-option>
                  <mat-option value="option3">Option3</mat-option>
                  <mat-option value="option4">Option4</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <h4>Address:</h4>
          <div class="row example-container" formGroupName="address">
            <div class="col-lg-8 col-md-8">
              <mat-form-field>
                <input  matInput 
                        placeholder="Road Address"
                        formControlName="roadAddress"
                        >
              </mat-form-field>
            </div>
            <div class="col-lg-4 col-md-4">
              <mat-form-field>
                  <input  matInput 
                          placeholder="Zip"
                          formControlName="zip"
                          >
              </mat-form-field>
            </div>
          </div>

          <h4>Add Description:</h4>
          <div class="row example-container">
            <div class="col-lg-12 col-md-12">
              <mat-form-field>
                <textarea matInput 
                          placeholder="Description"
                          formControlName="description"
                          >
                </textarea>
              </mat-form-field>
            </div>
          </div>
          <!-- <button mat-raised-button color="primary" [disabled]="!_teamRegistration.valid">Submit Application</button> -->
          <button mat-raised-button color="primary">Submit Application</button>
        </form>
        <!-- ---------------- Registration form end---------------- -->
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop in"></div>