<section class="uploadPage">
    <h3>
        Upload your image!
    </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas gravida convallis sagittis. Aliquam feugiat,
        massa non facilisis auctor, lacus mauris molestie neque, quis vulputate quam dui euismod sapien. Curabitur
        ligula
        ante, maximus a sodales eget, semper eu metus. Integer ligula sem, placerat sit amet lorem nec, tristique
        varius
        tellus</p>
</section>
<div class="container">
    <section class="uploadContainer">
        <form>
            <div class="form-group">
                <label for="uploadImage">Browse File to Upload</label>
                <input type="file" class="form-control-file" id="uploadImage" name="uploadImage">
                <button type="button" class="btn btn-primary" (click)="onUploadImage()">Upload</button>
            </div>
        </form>
    </section>
    <div class="progressContainer" *ngIf="progressBarDisplay">
        <label>Upload Percentage {{progressPercentage}} %</label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                [style.width.%]="progressPercentage">
                <span class="sr-only">30% Complete</span>
            </div>
        </div>
    </div>
    <app-imagedetails *ngIf="displayDetailsComponent" [receiveUploadedInfo]="sendUploadedInfo" (closeModalInfo)="getModalInfo($event)"></app-imagedetails>
</div>