<section class="teamPageHeader">
  <h3>
    Join our team!
  </h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas gravida convallis sagittis. Aliquam feugiat,
    massa non facilisis auctor, lacus mauris molestie neque, quis vulputate quam dui euismod sapien. Curabitur ligula
    ante, maximus a sodales eget, semper eu metus. Integer ligula sem, placerat sit amet lorem nec, tristique varius
    tellus</p>
  <form class="joinHeader">
    <button type="submit" class="btn btn-primary btn-lg">Join</button>
  </form>
</section>
<div class="container teamContainer">
  <section class="breadcrumbs">
    <h3>Profiles</h3>
    <section class="filters">
      <div class="search">
        <label for="search-input">
          <span class="fa fa-search" aria-hidden="true"></span>
        </label>
        <input type="search">
      </div>
      <a href="#" title=""><span class="fa fa-list-ul" aria-hidden="true"></span></a>
      <a href="#" title="" class="active"><span class="fa fa-th-large" aria-hidden="true"></span></a>
    </section>
  </section>
  <div>
    <section class="teamCard">
      <img src="../../../assets/appassets/profile.png" alt="" />
      <h4>Profilename</h4>
      <p>Lorem ipsum consectetur adipiscing elit. Maecenas gravida convallis</p>
    </section>
    <section class="teamCard">
      <img src="../../../assets/appassets/profile.png" alt="" />
      <h4>Profilename</h4>
      <p>Lorem ipsum consectetur adipiscing elit. Maecenas gravida convallis</p>
    </section>
    <section class="teamCard">
      <img src="../../../assets/appassets/profile.png" alt="" />
      <h4>Profilename</h4>
      <p>Lorem ipsum consectetur adipiscing elit. Maecenas gravida convallis</p>
    </section>
    <section class="teamCard">
      <img src="../../../assets/appassets/profile.png" alt="" />
      <h4>Profilename</h4>
      <p>Lorem ipsum consectetur adipiscing elit. Maecenas gravida convallis</p>
    </section>
    <section class="teamCard">
      <img src="../../../assets/appassets/profile.png" alt="" />
      <h4>Profilename</h4>
      <p>Lorem ipsum consectetur adipiscing elit. Maecenas gravida convallis</p>
    </section>
  </div>
</div>
<!-- <app-teamregistration></app-teamregistration> -->